<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bahmni App</title>

        <link rel="stylesheet" href="css/lib/bootstrap-2.3.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/lib/bootstrap-2.3.0/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/lib/jquery-ui-1.10.2.1/jquery-ui-1.10.2.1.custom.min.css"/>
    </head>
    <body>
        <div class="container-fluid reg-wrapper">
            <div ng-app="openmrs-module-bahmni" class="container">
                <div id="overlay"></div>
                <header class="reg-header" ng-controller="NavigationController">
                        <a class="header-logo pull-left" href="#/home">Jan Swasthya Sahyog</a>
                        <ul class="inline pull-right">

                            <li>
                                <a href="/registration#/search"><i class="icon-search icon-white"></i><span class="nav-link">Search</span></a>
                            </li>
                            <li>
                                <a ng-click="createNew()"><i class="create"></i><span class="nav-link">Create New</span></a>
                            </li>
                            <li>

                                <a ng-click="logout()"><i class="icon-off icon-white"></i><span class="nav-link">Logout</span></a>
                            </li>
                        </ul>
                </header>

                <div ng-view id="view-content"></div>
                <script src="lib/jquery/jquery-1.9.1.min.js"></script>
                <script src="lib/jquery/jquery-ui-1.10.2.1.custom.min.js"></script>
                <script src="lib/angular-1.0.5/angular.js"></script>
                <script src="lib/angular-1.0.5/angular-cookies.min.js"></script>
                <script src="app.js"></script>
                <script src="modules/navigation/controllers/navigationController.js"></script>
                <script src="modules/home/services/appService.js"></script>
                <script src="modules/home/controllers/homePageController.js"></script>
                
            </div>
        </div>
        </div>
    </body>
</html>
